@model PeliculasIdentity.Models.EditUserViewModel
@{
    ViewData["Title"] = "ChangeUser";
}

<style>
    body {
        background-image: url('/images/banner tecnologer.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #ddd;
    }
</style>
<meta name="viewport" content="width=device-width" />
<title>IniciarSesion</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<div class=" col-md-12">
    <div class=" card">
        <div class=" card-header text-center">
            <h5> Editar Usuario</h5>
        </div>
        <div class=" card-body">
            <form asp-action="ChangeUser" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />


                <input class="form-control mb-3" type="text" placeholder="Nombre" asp-for="Nombre" required />


                <div class=" card-footer ">
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-success"> Guardar</button>
                        <a asp-action="ChangePassword" class="btn btn-sm btn-info">Cambiar Contraseña</a>
                        <button type="button" class="btn btn-sm btn-primary" onclick="history.back()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
