@model PeliculasIdentity.Models.RecoverPasswordViewModel
@{
    ViewData["Title"] = "Recover Password";
}

<style>
    body {
        background-image: url('/images/banner tecnologer.png');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .card {
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid #ddd;
    }
</style>
<meta name="viewport" content="width=device-width" />
<title>IniciarSesion</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<h3 class="text-center text-white">Recuperación de Contraseña</h3>
<div class="row">
    <div class="container mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group text-white">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Recuperación de Contraseña" class="btn btn-sm btn-primary" />
                    <a asp-action="Login" class="btn btn-sm btn-success">Regresar</a>
                </div>
            </form>
            <div class=" bg-black text-success">
                <p>
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}